<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Hospital Management</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddController</display-name>
    <servlet-name>AddController</servlet-name>
    <servlet-class>com.controller.AddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddController</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDoctorController</display-name>
    <servlet-name>addDoctorController</servlet-name>
    <servlet-class>com.controller.addDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDoctorController</servlet-name>
    <url-pattern>/addDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDocSchController</display-name>
    <servlet-name>AddDocSchController</servlet-name>
    <servlet-class>com.controller.AddDocSchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDocSchController</servlet-name>
    <url-pattern>/addSch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddApp1Controller</display-name>
    <servlet-name>AddApp1Controller</servlet-name>
    <servlet-class>com.controller.AddApp1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApp1Controller</servlet-name>
    <url-pattern>/addApp1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddApp2Controller</display-name>
    <servlet-name>AddApp2Controller</servlet-name>
    <servlet-class>com.controller.AddApp2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApp2Controller</servlet-name>
    <url-pattern>/addApp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddApp3Controller</display-name>
    <servlet-name>AddApp3Controller</servlet-name>
    <servlet-class>com.controller.AddApp3Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApp3Controller</servlet-name>
    <url-pattern>/addApp3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutController</display-name>
    <servlet-name>logoutController</servlet-name>
    <servlet-class>com.controller.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecep</display-name>
    <servlet-name>AddRecep</servlet-name>
    <servlet-class>com.controller.AddRecep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecep</servlet-name>
    <url-pattern>/AddRecep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.controller.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOpenController</display-name>
    <servlet-name>ListOpenController</servlet-name>
    <servlet-class>com.controller.ListOpenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOpenController</servlet-name>
    <url-pattern>/ListOpen</url-pattern>
  </servlet-mapping>
</web-app>